  <aside id="main-header" class="sidebar">
   <nav class="sidebar-nav">
    <div class="sidebar-logo">
      <div class="logo-box">
        <a href="index.html"> <img src="../images/logos/LogoMakr-84paiu.png" alt="Site logo"></a>
      </div>
    </div>
    <a class="nav-item" href="../index.html">Home</a>
    <a class="nav-item" href="../video/index.html">Generate video</a>
    <a class="nav-item" href="../image/index.html">Generate photo</a>
    <a class="nav-item" href="../history/index.html">History</a>
  </nav>
</aside>